@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --branco: #ffffff;
    --preto: #000000;
    --azul: #0056fb;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

a{
    text-decoration: none;
}

body{
    background-color: var(--branco);
    height: 100%;
    width: 100%;
}

.wrapper{
    display: flex;
    height: 100vh;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    
}





