.right{
    height: 100vh;
    width: 50%;
    background-color: var(--azul);
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right .asset{
    margin-bottom: 40px;
}

.img{
    width: 525px;
    height: 352px;
}

.right h1{
    font-size: 48px;
    font-weight: 700;
    color: var(--branco);
    letter-spacing: 3px;
    line-height: 60px;
    margin-bottom: 25px;
}

.right p{
    font-size: 18px;
    font-weight: 400;
    color: var(--branco);
    line-height: 180%;
    width: 100%;
    max-width: 500px;
}